@font-face {
  font-family: 'CoralPixels';
  src: url('/src/assets/fonts/CoralPixels-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: 'simplepixel';
  src: url('/src/assets/fonts/PixelifySans-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
/* aplicar globalmente */
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: black;

  font-family: var(--font-pixel);
  font-size: 16px;

  /* clave para pixel art */
  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: grayscale;
}


:root {
  --font-pixel: 'CoralPixels', monospace;
  --font-ui: 'simplepixel', Arial, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'simplepixel', Arial, sans-serif;
  image-rendering: pixelated;

}

html,
body,
#app {
  width: 100%;
  height: 100%;
  font-family: 'simplepixel', Arial, sans-serif;
  font-size: 16px;
}

body {
  overflow: hidden;
  
}

/* Para navegadores Webkit (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 16px;
}

::-webkit-scrollbar-track {
  background: #c0c0c0;
  border: 2px solid;
  border-color: #dfdfdf #808080 #808080 #dfdfdf;
}

::-webkit-scrollbar-thumb {
  background: #c0c0c0;
  border: 2px solid;
  border-color: #dfdfdf #808080 #808080 #dfdfdf;
  min-height: 30px;
}

::-webkit-scrollbar-thumb:hover {
  background: #b0b0b0;
}

::-webkit-scrollbar-button {
  background: #c0c0c0;
  border: 2px solid;
  border-color: #dfdfdf #808080 #808080 #dfdfdf;
  height: 16px;
}

/* Flechitas con caracteres */
::-webkit-scrollbar-button:vertical:decrement {
  background: #c0c0c0 url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><polygon points="8,4 4,12 12,12" fill="%23000"/></svg>') center no-repeat;
}

::-webkit-scrollbar-button:vertical:increment {
  background: #c0c0c0 url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><polygon points="8,12 4,4 12,4" fill="%23000"/></svg>') center no-repeat;
}

img {
  -webkit-user-drag: none; /* Chrome, Edge, Safari */
  user-drag: none;
  user-select: none;
  pointer-events: none;
  
}
* img{
  image-rendering: pixelated;
}
